.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  display: flex;
  justify-content: flex-start;
  padding: 20px;
}

.order-button {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 1000; /* Agar tombol tetap terlihat di atas elemen lain */
}

